.navbar {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,0.7945772058823529) 0%, rgba(87,29,253,0.5872942927170868) 50%, rgba(252,176,69,1) 100%);
    padding: 0px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 40px;
    color: white;
    text-decoration: none;
}